{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h3 class="fs-1 fw-bolder text-center mt-2 mb-5">
          Um pouco sobre o Projeto Kanban
        </h3>
      </div>
      <div class="col-md-6 col-sm-12 mb-3">
        <div class="card text-center pb-5 border rounded-3 border-2 border-dark shadow">
          <div class="card-title fs-3 fw-bolder text-center mt-2 mb-2">
            Como este projeto surgiu
          </div>
            <img src="{% static 'staticfiles/images/work-g93a71be48_640.jpg' %}" class="card-img px-4" alt="imagem de um computador">
          <div class="card-body text-start">
            <p>
              Há algum tempo, eu decidi aperfeiçoar minhas habilidades em programação e, para isso, iniciei uma jornada de aprendizado em várias linguagens e frameworks. Queria criar um projeto que testasse minhas habilidades e me permitisse explorar novos conceitos e tecnologias.
            </p>
            <p>
              Foi então que surgiu a ideia do Projeto Kanban, uma aplicação para gerenciamento de tarefas baseada no método Kanban. Queria criar um sistema simples e eficiente, mas que também fosse responsivo e escalável. Decidi utilizar a framework Django, já que era uma tecnologia com a qual eu tinha alguma familiaridade e que também me permitiria aprender coisas novas.
            </p>
            <p>
              Ao longo do desenvolvimento do Projeto Kanban, tive a oportunidade de aprender muito sobre ORM, Models, segurança e autenticação, além de outras tecnologias relacionadas à programação web. No início, o projeto estava um pouco bagunçado, mas eu não desisti. Ao invés disso, busquei aprender metodologias e boas práticas utilizadas em empresas para projetos em produção, com foco na escalabilidade e facilidade de manutenção.
            </p>
            <p>
              Com o tempo, o Projeto Kanban evoluiu e se tornou uma aplicação melhor estruturada. Sinto orgulho do que criei e decidi que era hora de compartilhar meu trabalho com outras pessoas. Assim, publiquei o Projeto Kanban em meu portfólio, para que outras pessoas possam ver minhas habilidades e conhecimentos.
            </p>
            <p>
               Para mim, o Projeto Kanban é mais do que apenas uma aplicação - é uma prova de meu empenho, dedicação e amor pela programação. E eu sei que, independentemente do que o futuro me reserve, o Projeto Kanban sempre terá um lugar especial em meu coração.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 mb-3">
        <div class="card text-center pb-5 border rounded-3 border-2 border-dark shadow">
          <div class="card-title fs-3 fw-bolder text-center mt-2 mb-2">
            Objetivos
          </div>
          <img class="card-img px-0" src="{% static 'staticfiles/images/office-g5ee6d0513_640.jpg' %}">
          <div class="card-body text-start">
            <p>
              O principal objetivo deste projeto com certeza foi para testar meus conhecimentos e habilidades de programação , mesmo sendo um pouco desafiador , admito ter sido uma ótima experiência , lidando com problemas , paredes de conhecimento , passando dias aprendendo algo novo para ser implementado no projeto.
            </p>
            <p>
              O segundo objetivo do projeto , era criar algo que pudesse ser utilizado por qualquer um , algo que possa ser aplicado e usado no "mundo real" , pois estamos constantemente aprendendo coisas novas na área da tecnologia e precisamos estar sempre testando esses conhecimentos , mas com "exercícios e provas" não parece ser algo muito didático para testar o conhecimento em programação .
            </p>
            <p>
              Com este projeto , eu também estava interessado em como seria a estrutura de um projeto real , como ele seria organizado e como eu poderia deixar ele organizado de uma forma que qualquer outra pessoa trabalhando neste projeto conseguisse entender do que se trata e como ele funciona facilitando manutenções futuras
            </p>
            <p>
              Além dos objetivos técnicos, o Projeto Kanban também foi criado com o objetivo de adquirir algo que é muito difícil de quando se está entrando na área de Tecnologia, a <strong>Experiência</strong>. É muito difícil conseguir experiência em projetos sendo um programador auto-didata e sem estar trabalhando na área , este projeto foi uma forma de eu adquirir esta experiência criando algo novo , sem sair por ai fazendo cópias e clones.
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 mb-2">
        <div class="card text-center pb-5 border rounded-3 border-2 border-dark shadow">
          <div class="card-title fs-3 fw-bolder text-center mt-2 mb-2">
            Quem sou eu 
          </div>
          <div class="card-body text-start px-5">
          <p>
            Meu nome é Kauê Cristiano Santos Pedroso, e sou um estudante de ciência da computação com foco na área de backend e fullstack. Minhas principais tecnologias são Python, Django e JavaScript, e adoro me desafiar a aprender cada vez mais sobre essas linguagens e frameworks.
          </p>
          <p>
            Tenho uma personalidade calma , não me desespero quando estou lidando com problemas e busco adquirir novos conhecimentos nessas fases de dificuldade. Para mim, cada novo desafio é uma oportunidade de testar minhas habilidades e expandir meus conhecimentos em programação.
          </p>
          <p>
            Se você quiser entrar em contato comigo, pode me encontrar no LinkedIn e no GitHub, ou enviar um e-mail ou ligar para o meu número de telefone. Estou sempre aberto a novas oportunidades e parcerias em projetos interessantes.
          </p>
          </div>
          <div class="card-footer text-center">
            <p class="fs-5 fw-semibold">
              Contatos:
              <br>
              <i class="fa-brands fa-whatsapp"></i> 12 99779-9392 - Jacarei, SP 
            </p>
            <div class="btn-group ps-3">
                  <a href="https://github.com/kauepsa/" target="_blank" class="m-2 btn rounded-3 btn-dark text-light"><i class="fa-brands fa-github"></i> Github</a>
                  <a href="https://linkedin.com/in/kaue-crist/" target="_blank" class="m-2 btn rounded-3 btn-secondary"><i class="fa-brands fa-linkedin"></i> Linkedin</a>
                  <a href="mailto:kaue.cristiano.aye@gmail.com" class="btn m-2 rounded-3 btn-dark"><i class="fa-solid fa-envelope"></i> Email</a>
              </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}