{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<div class="container-12 mx-auto mt-5">
    <div class="row">
        <div class="col-12">
            <div class="box text-center titulo">
                <h1>Projeto Kanban</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 mt-5">
            <div class="box p-4">
                <h4 class="mb-4">
                    Cadastre-se para aproveitar os nossos serviços:
                </h4>
                <ul class="list-unstyled">
                    <li class="mb-3">
                        <i class="bi bi-check2-circle me-2 text-success"></i>
                        Faça novos amigos e adicione-os na sua friendlist!
                    </li>
                    <li class="mb-3">
                        <i class="bi bi-check2-circle me-2 text-success"></i>
                        Crie novos projetos e convide seus amigos para participar!
                    </li>
                    <li class="mb-3">
                        <i class="bi bi-check2-circle me-2 text-success"></i>
                        Notifique os participantes do projeto sobre mudanças.
                    </li>
                    <li class="mb-3">
                        <i class="bi bi-check2-circle me-2 text-success"></i>
                        Utilize o chat do projeto para melhor comunicação!
                    </li>
                </ul>
            </div> 
        </div>
        <div class="col-lg-6 mt-5 bg-opacity-50 rounded-2">
            <form action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                <div class="box-12 text-center mt-4 mb-4">
                    <h4>Digite o seu usuário e senha</h4>
                </div>
                <div class="box-12 text-center mt-4 mb-4">
                    <input class="rounded border" type="text" placeholder="Usuário..." name="username">
                </div>
                <div class="box-12 text-center mt-4 mb-4">
                    <input class="rounded border" type="password" placeholder="Senha..." name="senha">       
                </div>
                <div class="box-12 text-center mt-4">
                    <input class="btn btn-light" type="submit" value="Login">
                </div>
            </form>
            <div class="box text-center mb-3">
                <div class="label">Novo por aqui?</div>
                <a class="nav-link text-info" href="{% url 'cadastro' %}">Cadastre-se já!</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
