{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<div class="container" style="background-color: #ebebeb; border-radius: 10px; box-shadow: 0px 0px 10px #b9b9b9;">
    <form action="{% url 'perfil' %}" method="POST" enctype="multipart/form-data"> {% csrf_token %}
    <div class="row justify-content-center align-items-center d-flex">
        <div class="col-lg-7 mt-5 mb-5 justify-content-center align-items-center d-flex">
            {% if perfil.foto_banner %}
              <img src="{{ perfil.foto_banner.url }}" id="banner-img" style="border-radius: 2%;">
            {% else %}
              <img src="{% static 'imagens/default/foto_banner_default.jpg' %}" id="banner-img" style="border: 4px solid darkgray; border-radius: 2%;">
            {% endif %}
            <label class="position-absolute">
              <i class="fa fa-image text-secondary" style="font-size: 10vh;">+</i>
              <input type="file" name="foto_banner" accept="image/*" class="sr-only">
            </label>
          </div>                   
        <div class="col-lg-6 mt-1 mb-5">
            <div class="card mt-3">
                <div class="card-body text-center">
                    <div class="position-relative">
                        {% if perfil.foto_perfil %}
                            <img id="foto-perfil-preview" class="card-img-top" src="{{ perfil.foto_perfil.url }}" style="width: 120px; height:120px; border-radius: 10%; border: 3px solid white;">
                        {% else %}
                            <img id="foto-perfil-preview" class="card-img-top" src="{% static 'imagens/default/foto_perfil_default.jpg' %}" style="width: 120px; height:120px; border-radius: 10%; border: 3px solid white;">
                        {% endif %}
                        <label class="position-absolute" style="top: 50%; left: 50%; transform: translate(-50%, -50%);">
                            <i class="fa fa-image text-secondary" style="font-size: 30px;">+</i>
                            <input type="file" name="foto_perfil" accept="image/*" class="sr-only" id="foto-perfil-input">
                        </label>
                    </div>
                </div>                               
                <div class="card-title m-3"><h2>{{ perfil.nome }}</h2></div>
            </div>
            <label for="nome" class="form-label mt-3"> Nome</label>
            <input type="text" value="{{ perfil.nome }}" id="nome" name="nome" class="form-control">
            <label for="idade" class="form-label"> Idade</label>
            <input type="number" value="{{ perfil.idade }}" id="idade" name="idade" class="form-control" min="1" max="120">
            <label for="genero" class="form-label"> Gênero</label>
            <select class="rounded border form-select" name="genero">
                <option value="M">Masculino</option>
                <option value="F">Feminino</option>
                <option value="O">Outro</option>
            </select> 
            <label for="github" class="form-label">GibHub</label>
            <input type="text" value="{{ perfil.github }}" id="github" name="github" class="form-control">
            <label for="linkedin" class="form-label">Linkedin</label>
            <input type="text" value="{{ perfil.linkedin }}" id="linkedin" name="linkedin" class="form-control">
            <label for="descricao" class="form-label">Descrição</label>
            {% if not perfil.descricao %}
            <textarea class="form-control" id="descricao" name="descricao" rows="3" placeholder="Fale um pouco sobre você ..."></textarea>
            {% else %}
            <textarea class="form-control" id="descricao" name="descricao" rows="3"  placeholder="Fale um pouco sobre você ..."></textarea>
            {% endif %}
            <div class="box-12 text-center mt-4 mb-4">
                <input class="btn btn-light" type="submit" value='Salvar'>
            </div>
        </div>
    </div>
</form>
</div>

<script>
const inputFotoPerfil = document.getElementById('foto-perfil-input');
const previewFotoPerfil = document.getElementById('foto-perfil-preview');

inputFotoPerfil.addEventListener('change', () => {
    const file = inputFotoPerfil.files[0];
    if (file) {
        previewFotoPerfil.src = URL.createObjectURL(file);
        previewFotoPerfil.style.backgroundImage = `url(${URL.createObjectURL(file)})`;
    }
});

</script>
<script>
    $(document).ready(function() {
      $('#banner-img').click(function() {
        $('input[name="foto_banner"]').click();
      });
  
      $('input[name="foto_banner"]').change(function() {
        var url = URL.createObjectURL(event.target.files[0]);
        $('#banner-img').attr('src', url);
      });
    });
  </script>
  
<style>
.card, .box-6 {
    background-color: #ebebeb;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #b9b9b9;
}
#banner {
    background-image: url("{% static 'imagens/default/foto_banner_default.jpg' %}");
    background-size: cover;
    min-height: 40vh;
    position: relative;
}
#banner-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

</style>


{% endblock %}
