{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid" style="background-color: #e0e1dd;">
    <div class="row text-center pb-3" style="min-height: 80vh;">
        <div class="col-12 mt-3 justify-content-center text-center d-flex">
            <div class="bg-light text-light p-2" style="border: 2px solid black; border-radius: 10px;">
                <a class="btn btn-secondary btn-circle" href="{% url 'projeto_detail' projeto.id %}"><i class="fa-solid fa-arrow-left"></i></a>
                <a class="btn btn-success btn-circle" href="{% url 'tarefas' projeto.id %}"><i class="fa-solid fa-list-check"></i></a>
                <a class="btn btn-primary btn-circle" href="{% url 'gerenciar_membros' projeto.id %}"><i class="fa fa-users"></i></a>
                <a class="btn btn-dark btn-circle" href="{% url 'editar_projeto' projeto.id %}"><i class="fa fa-cog"></i></a>
                <button type="button" class="btn btn-circle btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa fa-x"></i></button>
                <!-- Modal -->
                <div class="modal fade text-light" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content text-light bg-dark">
                            <div class="modal-header">
                                <h5 class="modal-title text-center" id="exampleModalLabel">Confirmação de saída</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>Você tem certeza que deseja sair do projeto?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                <a href="{% url 'projeto_sair' pk=projeto.pk %}" class="btn btn-danger">Confirmar</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-12 mt-5">
            <h1 class="fw-bolder" style="text-align:center;">
                Quadro de Tarefas
            </h1>
            <h3 class="fs-4 fw-bold text-center">
                {{ projeto.titulo }} <br> Data de entrega: {{ projeto.prazo }}

            </h3>
            <div class="col-12 text-truncate px-3 d-flex">
                <div class="btn-group">
                    {% if user == projeto.dono or user in projeto.moderadores %}
                    {% include 'tables/coluna_create.html' %}
                    {% endif %}
                    {% include 'tables/item_create.html' %}
                </div>
            </div>
            <hr>
            <div class="card-group card-group-scroll border rounded border-dark border-3">
                {% for coluna in colunas.all %}
                <div class="card m-3 p-0 overflow-hidden" style="border: 3px solid black; border-radius: 15px; min-height: 50vh;">
                    <div class="card-title">
                        <div class="col-12 text-end">
                            <div class="btn-group">

                                {% if coluna.editavel == True %}
                                <a href="{% url 'editar_coluna' projeto.id coluna.id %}" class="btn btn-sm btn-warning" id="colmenu"><i class="fa-solid fa-pen-to-square"></i></a>
                                <a class="btn btn-danger fas fa-x" href="{% url 'excluir_coluna' projeto.id coluna.id %}"></a>
                                {% endif %}
                            </div>
                        </div>
                        <h3 class="fs-3 fw-bold text-dark py-0 text-truncate">{{ coluna.nome }}</h3>
                    </div>
                    <div class="card-body p-0">
                        <div class="list-group">
                            {% for item in itens.all %}
                            {% if item.coluna == coluna %}
                            <div class="list-group-item border rounded border-2 border-secondary" style=" background-color: #dee2e6;">
                                <div class="fs-6 fw-bold">
                                    {{ item.titulo }}
                                </div>
                                <p>{{ item.descricao }}</p>
                                Tarefa de <strong>{{ item.criado_por }}</strong> <br> Criado em {{ item.criado_em }}
                                <div class="btn-group-sm">
                                    <a href="{% url 'editar_item' projeto.id item.id %}" class="btn btn-secondary">Editar</a>
                                    <a href="{% url 'excluir_item' projeto.id coluna.id item.id %}" class="btn btn-danger">Excluir</a>
                                </div>
                            </div>
                            {% endif %}
                            {% empty %}
                            <p class="fs-5 fw-semibold">Nenhum item adicionado nessa coluna ...</p>
                            {% endfor %}
                        </div>

                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<style>
    .card-group.card-group-scroll {
        overflow-x: auto;
        flex-wrap: nowrap;
    }


.card-group.card-group-scroll > .card {
    flex-basis: 24%;
}
    .btn-circle {
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  padding: 0;
  border-radius: 50%;
}

.btn-circle i {
  position: relative;
  top: -1px;
}
</style>

{% endblock %}