{% autoescape off %}

Olá , {{ user }}.

Nós recebemos uma Solicitação de Troca de Senha para a conta vinculada ao seu endereço de email.
Para continuar com o processo de troca de senha , por favor clique no link a seguir:

http://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Este link pode ser usado apenas uma vez . Caso precise trocar sua senha novamente , por favor visite http://{{ domain }} e faça outra Solicitação de Troca de Senha.

Se você não solicitou esta troca , você pode simplesmente ignorar este email.

Muito Obrigado,
Projeto Kanban

{% endautoescape %}