{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid justify-content-center" style="background: #D7DDE8;">
    <div class="row">
        <div class="col d-flex text-light align-items-center justify-content-center">
            <div class="box fw-bold m-3 p-5 border rounded-3 bg-black align-items-center">
                <h2 class="my-4 text-center">Recuperar senha</h2>
                <p class="fs-5 text-center">Esqueceu sua senha? Digite abaixo o endereço de email registrado na conta e você irá receber um email com um as instruções para definir uma nova senha.</p>
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="box-12 text-center m-2">
                        <input class="btn btn-light" type="submit" value='Enviar'>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}