{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid justify-content-center" style="background: #D7DDE8;">
    <div class="row">
        <div class="col d-flex text-light align-items-center justify-content-center">
            <div class="box fw-bold m-3 p-5 border rounded-3 bg-black align-items-center">
                <form method="POST">
                {% csrf_token %}
                <h2 class="my-4 text-center">Confirmação de Troca de Senha</h2>
                <p class="fs-5 text-center">Por favor digite sua nova senha</p>
                <hr>
                {{ form.as_p }}
                <div class="box-12 text-center m-2">
                    <input class="btn btn-light" type="submit" value='Salvar'>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}